.App {
  text-align: center;
}

.App {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.App ul {
  list-style: none;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

input{
  cursor: pointer;
}